.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.logo{
   justify-content: center;
   align-items: center;
    margin-top: 30px;
}
.logo h2{
    font-family: 'Pacifico', cursive;
}

.banner-wrapper img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

.tips{
    background: url(../../assets/reservation-bg.jpg);
    padding: 80px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}